<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Materia</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            margin-top: 50px;
            flex: 1;
        }

        .navbar-custom {
            background-color: #001b66; /* Azul marino */
        }
        .navbar-custom .navbar-nav .nav-link {
            color: #ffffff; /* Color del texto */
        }
        .navbar-custom .navbar-brand {
            color: #ffffff; /* Color del texto del brand */
        }

        .footer {
            background-color: #001b66; /* Azul marino */
            color: #ffffff; /* Texto blanco */
            padding: 40px 0;
        }
        .footer-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .footer-column {
            flex: 1;
            min-width: 200px;
            margin: 10px;
        }
        .footer-column h3 {
            border-bottom: 1px solid #ffffff;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        .footer-column ul {
            list-style-type: none;
            padding: 0;
        }
        .footer-column ul li {
            margin-bottom: 10px;
        }
        .footer-column ul li a {
            color: #ffffff;
            text-decoration: none;
        }
        .footer-column ul li a:hover {
            text-decoration: underline;
        }
        .footer-logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .footer-logo img {
            height: 60px;
        }
        .footer-bottom {
            text-align: center;
            padding: 20px;
            background-color: #001b66; /* Azul más oscuro */
        }
    </style>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="static/logo la salle.png" alt="Logo" style="height: 60px;">
            </a>
            <!-- Botón solo para pantallas pequeñas -->
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="dropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right d-lg-none">
                <a class="dropdown-item" href="/home">Inicio</a>
                <a class="dropdown-item" href="/profile">Perfil</a>
                <a class="dropdown-item" href="/horario">Horario</a>
                <a class="dropdown-item" href="/profesor">Profesor</a>
                <a class="dropdown-item" href="/materia">Materia</a>
                <a class="dropdown-item" href="/plan_estudio">Plan de estudio</a>
                <a class="dropdown-item" href="/observacion">Observaciones</a>
                <a class="dropdown-item" href="/reporte">Reporte</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
            <!-- Elementos del menú para pantallas grandes -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto d-none d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/horario">Horario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profesor">Profesor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/materia">Materia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plan_estudio">Plan de estudio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/observacion">Observaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reporte">Reporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center">Detalles de Materia</h2>
        <form id="materiaForm" method="POST" action="/actualizar_materia">
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" value="{{ materia.Nombre }}" readonly required>
            </div>
            <div class="form-group">
                <label for="Semestre">Semestre:</label>
                <input type="text" class="form-control" id="Semestre" name="Semestre" value="{{ materia.Semestre }}"
                    readonly required>
            </div>
            <div class="form-group">
                <label for="FechaInicio">Fecha de Inicio:</label>
                <input type="date" class="form-control" id="FechaInicio" name="FechaInicio"
                    value="{{ materia.FechaInicio }}" readonly required>
            </div>
            <div class="form-group">
                <label for="FechaFin">Fecha de Fin:</label>
                <input type="date" class="form-control" id="FechaFin" name="FechaFin" value="{{ materia.FechaFin }}"
                    readonly required>
            </div>
            <div class="form-group">
                <label for="profesor">Clave Profesor:</label>
                <select name="profesor" id="profesor" disabled>
                    {% for clave_profesor in claves_profesores %}
                    {% if clave_profesor == materia.Profesor_Clave %}
                    <option value="{{ clave_profesor }}" selected>{{ clave_profesor }}</option>
                    {% else %}
                    <option value="{{ clave_profesor }}">{{ clave_profesor }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="horario">Clave Horario:</label>
                <select name="horario" id="horario" disabled>
                    {% for clave_horario in claves_horarios %}
                    {% if clave_horario == materia.Horario_Clave %}
                    <option value="{{ clave_horario }}" selected>{{ clave_horario }}</option>
                    {% else %}
                    <option value="{{ clave_horario }}">{{ clave_horario }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="btn-group d-flex justify-content-center" role="group" aria-label="Acciones">
                <button type="button" class="btn btn-primary" id="editarBtn">Editar</button>
                <button type="button" class="btn btn-danger" id="bajalogicaBtn">Baja Lógica</button>
                <button type="button" class="btn btn-danger" id="eliminarBtn">Baja Física</button>
                <button type="button" class="btn btn-secondary" id="cancelarBtn">Cancelar</button>
                <button type="submit" class="btn btn-success" id="guardarBtn" style="display: none;">Guardar</button>
            </div>
            <input type="hidden" id="Materia_id" name="Materia_id" value="{{ materia.Materia_id }}">
            <input type="hidden" id="Clave_Horario_Anterior" name="Clave_Horario_Anterior"
                value="{{ materia.Horario_Clave }}">
            <input type="hidden" id="Clave_Profesor_Anterior" name="Clave_Profesor_Anterior"
                value="{{ materia.Profesor_Clave }}">
        </form>
    </div>
    <br>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="static/logo la salle.png" alt="Logo La Salle">
            </div>
            <div class="footer-column">
                <h3>Oferta educativa</h3>
                <ul>
                    <li><a href="#">Preparatoria</a></li>
                    <li><a href="#">Licenciaturas</a></li>
                    <li><a href="#">Especialidades</a></li>
                    <li><a href="#">Maestrías</a></li>
                    <li><a href="#">Doctorados</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Nosotros</h3>
                <ul>
                    <li><a href="#">La Salle Hoy</a></li>
                    <li><a href="#">Sistema y Red La Salle</a></li>
                    <li><a href="#">Identidad</a></li>
                    <li><a href="#">Historia</a></li>
                    <li><a href="#">Ideario</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Experiencia La Salle</h3>
                <ul>
                    <li><a href="#">Acreditaciones</a></li>
                    <li><a href="#">Área curricular</a></li>
                    <li><a href="#">Barrio universitario</a></li>
                    <li><a href="#">Comunidad para la vida</a></li>
                    <li><a href="#">Formación integral</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Universidad La Salle México. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Bootstrap JS, jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-BF4CVtn1r4r4b8ck/hssB5hVraEK6noNoofI+g9jEoqhcFshp0RrHoNhVK1C1tbK"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#editarBtn').click(function () {
                // Habilitar la edición de los campos
                $('input').prop('readonly', false);
                $('select').prop('disabled', false);

                // Mostrar el botón de guardar y ocultar el botón de editar
                $('#editarBtn').hide();
                $('#guardarBtn').show();
            });

            $('#guardarBtn').click(function () {
                if (confirm("¿Estás seguro de que deseas guardar los cambios?")) {
                    var Materia_id = $('#Materia_id').val();
                    var Clave_Horario_Anterior = $('#Clave_Horario_Anterior').val();
                    var Clave_Profesor_Anterior = $('#Clave_Profesor_Anterior').val();
                    var Nombre = $('#Nombre').val();
                    var Clave = $('#Clave').val();

                    // Verificar que los campos Nombre y Clave no estén vacíos
                    if (Nombre.trim() === '' || Clave.trim() === '') {
                        alert('Por favor, complete los campos Nombre y Clave.');
                        return false; // Detiene el envío del formulario si los campos están vacíos
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/actualizar_materia',
                        data: $('#materiaForm').serialize() + '&Materia_id=' + Materia_id + '&Clave_Horario_Anterior=' + Clave_Horario_Anterior + '&Clave_Profesor_Anterior=' + Clave_Profesor_Anterior,
                        success: function (response) {
                            alert('Información actualizada correctamente.');
                            window.location.href = '/materia';
                        },
                        error: function (error) {
                            alert('Error al actualizar la información.');
                        }
                    });
                }
            });

            $('#cancelarBtn').click(function () {
                // Deshabilitar la edición de los campos
                $('input').prop('readonly', true);
                // Ocultar el botón de guardar y mostrar el botón de editar
                $('#guardarBtn').hide();
                $('#editarBtn').show();
            });

            $('#eliminarBtn').click(function () {
                if (confirm("¿Estás seguro de que deseas eliminar esta materia?")) {
                    var Materia_id = $('#Materia_id').val();
                    $.ajax({
                        type: 'POST',
                        url: '/baja_materia',
                        data: { Materia_id: Materia_id }, // Corrección aquí
                        success: function (response) {
                            alert('Baja de materia correcta.');
                            window.location.href = '/materia';
                        },
                        error: function (error) {
                            alert('Error al actualizar la información.');
                        }
                    });
                    alert("Materia eliminada.");
                    // Redirigir a la página principal o a otra página después de eliminar la materia
                }
            });

            $('#bajalogicaBtn').click(function () {
                if (confirm("¿Estás seguro de que deseas eliminar lógicamente esta materia?")) {
                    var Materia_id = $('#Materia_id').val();
                    $.ajax({
                        type: 'POST',
                        url: '/baja_logica_materia',
                        data: { Materia_id: Materia_id },
                        success: function (response) {
                            alert('Baja lógica de materia correcta.');
                            window.location.href = '/materia';
                        },
                        error: function (error) {
                            alert('Error al eliminar la materia lógicamente.');
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>